@model MvcCoreKutuphane.Entities.Entity.Yazar

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Insert</h1>

@using (Html.BeginForm("Update", "Yazar", FormMethod.Post))
{
    <div class="form-group">

        @Html.Label("Yazar Adı")
        @Html.TextBoxFor(x=>x.Ad , new{@class="form-control"}) 
        
        @Html.Label("Yazar Soyadı")
        @Html.TextBoxFor(x=>x.Soyad , new{@class="form-control"})

        @Html.HiddenFor(x=>x.Tarih)

    </div>
    <br />
    <button type="submit" class="btn btn-primary">Yazar Düzenle</button>  <a href="/Yazar/Index" class="btn btn-warning">Geri Dön</a>
}
